$primary: #FF3535;
$accent: #CD1800;
$secondary: #2D2C2A;
$bg: #FFFFFF;
$font-color: #000000;
$primary-color: #FFFFFF;
$secondary-color: #262626;
$font-size: 20px;
$font-weight-base: 100;
$font-weight-middle: 300;
$font-weight-bold: 500;
$caption-size: 43px;
